/vendor
/node_modules
.Rhistory
tmp
apps/share/tmp
apps/gravity/js/debug.js
.DS_Store
apps/share/.DS_Store
debug
apps/screensaver/assets/*.jpg
apps/screensaver/assets/*.png
apps/screensaver/slides.txt
apps/screensaver/last_*
apps/spc
