@import (reference) "apps/share/less/colors";
@import (reference) "apps/share/font-awesome/less/font-awesome";
@import (reference) "apps/share/less/elements";

@font: "Dosis";

html, body {
  margin:0px;
  padding:0px;
  color:white;
  height:100%;
  min-height:100%;
  font-family:@font, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow:hidden;
}

.clear-left {
  clear:left;
}

.clear-right {
  clear:right;
}

.clear {
  clear:both;
}

#canvas-container {
  background:url('../img/bg.jpg')
}

.full-size {
  width:100%;
  height:100%;
  min-height:100%;
}

@glass-color: rgba(180, 180, 180, 0.3);

#sidebar {
  width:70px;
  position:absolute;
  left:0px;
  top:0px;
  height:100%;
  padding:10px;
  .user-select(none);
  .transition(0.5s, ease-in);
}

@sidebar-width:200px;

#sidebar.expanded {
  width:@sidebar-width;
  background-color:@glass-color;
  .transition(0.5s, ease-in);
}

@dark-base08: darken(@base08, 20%);

.throb-shadow {
  from { box-shadow: 0px 0px 0px silver; }
  to { box-shadow: 0px 0px 20px silver; }  
}

@-webkit-keyframes throbshadow {
  .throb-shadow;
}
@keyframes throbshadow {
  .throb-shadow;
}

.btn-jrs {
  border:0px;
  color:black;
  text-transform:uppercase;
  font-weight:500;
  background:white;
  border-radius:0px;
}

.btn-jrs:hover {
  background-color:@base07;
  -webkit-animation: throbshadow 1s infinite;
  -webkit-animation-direction: alternate;
  animation: throbshadow 1s infinite;
  animation-direction: alternate;
}

.btn-jrs-ico {
  font-size:30px;
  padding:12px;
  color:white;
  text-align:center;
  background-color:black;
  cursor:pointer;
  width:50px;
}

.btn-jrs-ico:hover {
  background-color:white;
  color:black;
  -webkit-animation: throbshadow 1s infinite;
  -webkit-animation-direction: alternate;
  animation: throbshadow 1s infinite;
  animation-direction: alternate;  
}


.sidebar-section {
  opacity:0;
  font-weight:200;
  margin-top:20px;
  margin-bottom:10px;
}

#sidebar.expanded .sidebar-section {
  opacity:1;
  margin-right:0px;
  color:white;
  .transition(0.5s, ease-in);  
}

#sidebar .sidebar-expandable {
  opacity:0;
  margin-left: -@sidebar-width;
  .transition(0.5s, ease-in);
  right:0px;
}


#sidebar.expanded .sidebar-expandable {
  opacity:1;
  margin-left:0px;
  .transition(0.5s, ease-in);
  width:auto;
}

@mission-color: @base04;
@mission-active-color:@base08;
@mission-completed-color:@base07;

#missions {
  text-align:center;
}

#missions {
  margin-bottom:10px;
}

.mission {
  margin-bottom:15px;
  color:@mission-color;
}

.mission-active {
  .mission;
  color:@mission-active-color;
}

.mission-completed {
  .mission;
  color:@mission-completed-color;
}

.mission-symbol {
  float:left;
  margin-left:10px;
  font-size:40px;
}

.mission .mission-symbol {
  .fa;
  &:before {
    content: @fa-var-circle-o;
  }
}

.mission-active .mission-symbol {
  .fa;
  .fa-spin;
  font-size:35px;
  &:before {
    content: @fa-var-circle-o-notch;
  }
}

.mission-completed .mission-symbol {
  .fa;
  &:before {
    content: @fa-var-check-circle;
  }

}

#sidebar.expanded .mission-symbol {
  float:left;
}

.mission-label {
  visibility:hidden;
  opacity:0;
  text-transform:uppercase;
  width:0px;
  font-size:0px;
  margin-left:-100px;
}

#sidebar.expanded .mission-label {
  .transition(0.5s, ease-in);  
  float:left;
  visibility:visible;
  opacity:1;
  margin-left:10px;
  font-size:20px;
  font-weight:200;
}

.mission-active .mission-label {
  .mission-label;
}

.mission-description {
  text-align:left;
  visibility:hidden;
  font-size:12px;
  height:0px;
}

#sidebar.expanded .mission-description {
  margin-top:10px;
  visibility:visible;
  width:auto;
  height:auto;
  padding:5px;
  .transition(0.5s, ease-in);
  border-left:4px solid @mission-active-color;
}

.sidebar-item {
  text-align:center;
  margin-bottom:5px;
}

.sidebar-title {
  .transition(0.5s, ease-in);
  opacity:0;
  visibility:hidden;
  font-size:0px;
  width:0px;
  height:0px;
  overflow:hidden;
}

#sidebar.expanded .sidebar-title {
  visibility:visible;
  .transition(0.5s, ease-in);
  font-size:16px;
  height:auto;
  width:auto;
  overflow:hidden;
  opacity:1;
}

/* Info-top styles */
#info-top {
  position:absolute;
  min-width:200px;
  right:0px;
  top:0px;
  font-size:18px;
  font-weight:200;
}

#info-table-container {
  background:@glass-color;
  padding:10px;
  font-size:18px;
  font-weight:200;
  color:white;
}

#info-top table {
  width:100%;
}

#info-help {
  padding:10px;
}

td.td-label {
  border-bottom:1px solid white;
  cellmargin-left:5px;
  text-transform:uppercase;
  padding-right:10px;
}

td.td-val {
  border-bottom:1px solid white;
  text-align:right;
  font-weight:bold;
}

#help {
  position:fixed;
  bottom:5px;
  right:5px;
}


#help-text {
  width:40%;
  left:30%;
  position:absolute;
  bottom:30px;
  opacity:0;
  font-size:20px;
  font-weight:200;
  display:block;
  text-shadow:0px 0px 2px black;
  border-radius:20px;
  padding:12px;
  padding-left:20px;
  padding-right:20px;
  background-color:@glass-color;
  text-align:left;
  color:white;
}

#help-text.animated {
    .transition(0.5s, ease-in);
}

#help-text.expanded {
  opacity:1;
  visibility:visible;
}

#help-text.right {
  left:-80%;
  opacity:0;
}

#help-text.left {
  left:80%;
  opacity:0;
}


#help-text h1 {
  line-height:1;
  margin: 0 0;
}

#help-body {
}

#help-nav {
  display:table-cell;
  padding-left:30px;
}

.help-toolbar {
  text-align:right;
  padding-top:5px;
}

.icon-tap {
  .fa;
  &:before {
    content: @fa-var-hand-o-up;
  }
}

.icon-menu {
  .fa;
  &:before {
    content: @fa-var-bars;
  }
}

.icon-drag {
  .fa;
  &:before {
    content: @fa-var-arrows;
  }
}

.icon-vector {
  .fa;
  &:before {
    content: @fa-var-arrow-right;
    transform: rotate(45deg);
  }
}

.icon-star {
  .fa;
  &:before {
    content: @fa-var-circle-o;
    background: radial-gradient(ellipse at center, rgba(255,255,136,1) 0%,rgba(255,255,136,0) 90%); 
  }
}

.icon-win {
  .fa;
  &:before {
    content: @fa-var-trophy;
  }
}

.separator {
  height:1px;
  background: linear-gradient(to right, rgba(186,186,186,1) 0%,rgba(186,186,186,1) 40%,rgba(186,186,186,0) 80%);
  margin-top:5px;
  margin-bottom:5px;
  
}

#text-top {
  width:40%;
  left:30%;
  position:absolute;
  text-align:center;
  margin-top:-50px;
  opacity:0;
  visible:hidden;
  .transition(0.5s, ease-in);
}

#text-top .title {
  font-size:50px;
}

#text-top .subtitle {
  font-size:25px;
  color:silver;
}

#text-top.expanded {
  opacity:1;
  visible:visible;
  margin-top:40px;
  .transition(0.5s, ease-in);
}

