@import (reference) "apps/share/less/colors";
@import (reference) "apps/share/font-awesome/less/font-awesome";
@import (reference) "apps/share/less/elements";

@font: "Dosis";

body {
  margin:0px;
  padding:0px;
  min-height:100%;
  color:white;
  font-family:@font, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clear-left {
  clear:left;
}

.clear-right {
  clear:right;
}

.clear {
  clear:both;
}

#canvas-container {
  background:url('../img/bg.jpg')
}

@glass-color: rgba(180, 180, 180, 0.25);

#sidebar {
  width:70px;
  position:absolute;
  left:0px;
  top:0px;
  height:100%;
  padding:10px;
  .user-select(none);
  .transition(0.5s, ease-in);
}

#sidebar.expanded {
  width:200px;
  background-color:@glass-color;
  .transition(0.5s, ease-in);
}

@dark-base08: darken(@base08, 20%);

.btn-jrs {
  border:0px;
  color:black;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
  text-transform:uppercase;
  font-weight:500;
  .drop-shadow(1, 1px, 4px, 0.5);
  background:white;
}

.btn-jrs:hover {
  background-color:@base07
}

.btn-jrs-ico {
  font-size:30px;
  padding:12px;
  color:white;
  text-align:center;
  background-color:black;
  cursor:pointer;
}

.btn-jrs-ico:hover {
  background-color:white;
  color:black;
}

.sidebar-section {
  opacity:0;
  font-weight:200;
  margin-top:20px;
  margin-bottom:10px;
  border-bottom:1px solid rgba(0, 0, 0, 0);
}

#sidebar.expanded .sidebar-section {
  opacity:1;
  border-bottom:1px solid white;
  color:white;
  .transition(0.5s, ease-in);  
}


@mission-color: @base04;
@mission-active-color:@base08;
@mission-completed-color:@base07;

#missions {
  text-align:center;
}

#missions {
  margin-bottom:10px;
}

.mission {
  margin-bottom:15px;
  color:@mission-color;
}

.mission-active {
  .mission;
  color:@mission-active-color;
}

.mission-completed {
  .mission;
  color:@mission-completed-color;
}

.mission-symbol {
  float:left;
  margin-left:10px;
  font-size:40px;
}

.mission .mission-symbol {
  .fa;
  &:before {
    content: @fa-var-circle-o;
  }
}

.mission-active .mission-symbol {
  .fa;
  .fa-spin;
  font-size:35px;
  &:before {
    content: @fa-var-circle-o-notch;
  }
}

.mission-completed .mission-symbol {
  .fa;
  &:before {
    content: @fa-var-check-circle;
  }

}

#sidebar.expanded .mission-symbol {
  float:left;
}

.mission-label {
  visibility:hidden;
  opacity:0;
  text-transform:uppercase;
  width:0px;
  font-size:0px;
  margin-left:-100px;
}

#sidebar.expanded .mission-label {
  .transition(0.5s, ease-in);  
  float:left;
  visibility:visible;
  opacity:1;
  margin-left:10px;
  font-size:20px;
  font-weight:200;
}

.mission-active .mission-label {
  .mission-label;
}

.mission-description {
  text-align:left;
  visibility:hidden;
  font-size:12px;
  height:0px;
}

#sidebar.expanded .mission-description {
  margin-top:10px;
  visibility:visible;
  width:auto;
  height:auto;
  padding:5px;
  .transition(0.5s, ease-in);
  border-left:4px solid @mission-active-color;
}

/* Info-top styles */
#info-top {
  width:200px;
  position:absolute;
  right:0px;
  top:0px;
  font-size:18px;
  font-weight:200;
}

#info-table-container {
  background:@glass-color;
  padding:10px;
  font-size:18px;
  font-weight:200;
  color:white;
}

#info-top table {
  width:100%;
}

#info-help {
  padding:10px;
}

td.td-label {
  border-bottom:1px solid white;
  cellmargin-left:5px;
  text-transform:uppercase;
}

td.td-val {
  border-bottom:1px solid white;
  text-align:right;
}

#help {
  position:fixed;
  bottom:5px;
  right:5px;
}

#help-bottom {
  background:none;
  width:60%;
  left:20%;
  position:absolute;
  bottom:0px;
  padding:10px;
  font-size:18px;
  font-weight:200;
  color:black;
  visibility:hidden;
  .transition(0.5s, ease-in);
  opacity:0;
  text-align:center;
}


#help-bottom.expanded {
  opacity:1;
  visibility:visible;
  .transition(0.5s, ease-in);
}

#help-bottom .btn-help {
  opacity:0;
  .transition(0.5s, ease-in);  
}

#help-bottom.expanded .btn-help {
  opacity:1;
  .transition(0.5s, ease-in);  
}

#help-text {
  border-radius:20px;
  padding:8px;
  padding-left:14px;
  padding-right:14px;
  background-color:@glass-color;
  display:inline-block;
  color:white;
}

.icon-tap {
  .fa;
  &:before {
    content: @fa-var-hand-o-up;
  }
}

.icon-drag {
  .fa;
  &:before {
    content: @fa-var-arrows;
  }
}

.icon-vector {
  .fa;
  &:before {
    content: @fa-var-arrow-right;
    transform: rotate(45deg);
  }
}

.icon-star {
  .fa;
  &:before {
    content: @fa-var-circle-o;
    background: radial-gradient(ellipse at center, rgba(255,255,136,1) 0%,rgba(255,255,136,0) 90%); 
  }
}

.separator {
  height:1px;
  background: linear-gradient(to right, rgba(186,186,186,0) 0%,rgba(186,186,186,1) 20%,rgba(186,186,186,1) 50%,rgba(186,186,186,1) 80%,rgba(186,186,186,0) 100%);
  margin:5px;
}