html,
body {
  margin: 0px;
  padding: 0px;
  color: white;
  height: 100%;
  min-height: 100%;
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.clear {
  clear: both;
}
#app-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 180, 180, 0.3);
  visibility: hidden;
  opacity: 0;
  padding: 15px;
  text-align: center;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxNjIyMmEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNjA3MyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #16222a, #3a6073);
  background-image: -moz-linear-gradient(top, #16222a, #3a6073);
  background-image: -o-linear-gradient(top, #16222a, #3a6073);
  background-image: linear-gradient(to bottom, #16222a, #3a6073);
}
#app-menu.expanded {
  visibility: visible;
  opacity: 1;
  left: 0;
}
#canvas-container {
  background: url('../img/bg.jpg');
}
.full-size {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
#sidebar {
  width: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
#sidebar.expanded {
  width: 200px;
  background-color: rgba(180, 180, 180, 0.3);
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.throb-shadow from {
  box-shadow: 0px 0px 0px silver;
}
.throb-shadow to {
  box-shadow: 0px 0px 20px silver;
}
@-webkit-keyframes throbshadow {
  from {
    box-shadow: 0px 0px 0px silver;
  }
  to {
    box-shadow: 0px 0px 20px silver;
  }
}
@keyframes throbshadow {
  from {
    box-shadow: 0px 0px 0px silver;
  }
  to {
    box-shadow: 0px 0px 20px silver;
  }
}
.btn-jrs {
  border: 0px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  background: white;
  border-radius: 0px;
}
.btn-jrs:hover {
  background-color: #ecf0f1;
  -webkit-animation: throbshadow 1s infinite;
  -webkit-animation-direction: alternate;
  animation: throbshadow 1s infinite;
  animation-direction: alternate;
}
.btn-jrs-ico {
  font-size: 30px;
  padding: 12px;
  color: white;
  text-align: center;
  background-color: black;
  cursor: pointer;
  width: 50px;
}
.btn-jrs-ico:hover {
  background-color: white;
  color: black;
  -webkit-animation: throbshadow 1s infinite;
  -webkit-animation-direction: alternate;
  animation: throbshadow 1s infinite;
  animation-direction: alternate;
}
.sidebar-section {
  opacity: 0;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 10px;
}
#sidebar.expanded .sidebar-section {
  opacity: 1;
  margin-right: 0px;
  color: white;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
#sidebar .sidebar-expandable {
  opacity: 0;
  margin-left: -200px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  right: 0px;
}
#sidebar.expanded .sidebar-expandable {
  opacity: 1;
  margin-left: 0px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  width: auto;
}
#missions {
  text-align: center;
}
#missions {
  margin-bottom: 10px;
}
.mission {
  margin-bottom: 15px;
  color: #7f8c8d;
}
.mission-active {
  margin-bottom: 15px;
  color: #7f8c8d;
  color: #e74c3c;
}
.mission-completed {
  margin-bottom: 15px;
  color: #7f8c8d;
  color: #ecf0f1;
}
.mission-symbol {
  float: left;
  margin-left: 10px;
  font-size: 40px;
}
.mission .mission-symbol {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mission .mission-symbol.pull-left {
  margin-right: .3em;
}
.mission .mission-symbol.pull-right {
  margin-left: .3em;
}
.mission .mission-symbol:before {
  content: "\f10c";
}
.mission-active .mission-symbol {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  font-size: 35px;
}
.mission-active .mission-symbol.pull-left {
  margin-right: .3em;
}
.mission-active .mission-symbol.pull-right {
  margin-left: .3em;
}
.mission-active .mission-symbol:before {
  content: "\f1ce";
}
.mission-completed .mission-symbol {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mission-completed .mission-symbol.pull-left {
  margin-right: .3em;
}
.mission-completed .mission-symbol.pull-right {
  margin-left: .3em;
}
.mission-completed .mission-symbol:before {
  content: "\f058";
}
#sidebar.expanded .mission-symbol {
  float: left;
}
.mission-label {
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  width: 0px;
  font-size: 0px;
  margin-left: -100px;
}
#sidebar.expanded .mission-label {
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  float: left;
  visibility: visible;
  opacity: 1;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 200;
}
.mission-active .mission-label {
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  width: 0px;
  font-size: 0px;
  margin-left: -100px;
}
.mission-description {
  text-align: left;
  visibility: hidden;
  font-size: 12px;
  height: 0px;
}
#sidebar.expanded .mission-description {
  margin-top: 10px;
  visibility: visible;
  width: auto;
  height: auto;
  padding: 5px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  border-left: 4px solid #e74c3c;
}
.sidebar-item {
  text-align: center;
  margin-bottom: 5px;
}
.sidebar-title {
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0;
  visibility: hidden;
  font-size: 0px;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
#sidebar.expanded .sidebar-title {
  visibility: visible;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  font-size: 16px;
  height: auto;
  width: auto;
  overflow: hidden;
  opacity: 1;
}
/* Info-top styles */
#info-top {
  position: absolute;
  min-width: 200px;
  right: 0px;
  top: 0px;
  font-size: 18px;
  font-weight: 200;
}
#info-table-container {
  background: rgba(180, 180, 180, 0.3);
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  color: white;
}
#info-top table {
  width: 100%;
}
#info-help {
  padding: 10px;
}
td.td-label {
  border-bottom: 1px solid white;
  cellmargin-left: 5px;
  text-transform: uppercase;
  padding-right: 10px;
}
td.td-val {
  border-bottom: 1px solid white;
  text-align: right;
  font-weight: bold;
}
#help {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
#help-text {
  width: 40%;
  left: 30%;
  position: absolute;
  bottom: 30px;
  opacity: 0;
  font-size: 20px;
  font-weight: 200;
  display: block;
  text-shadow: 0px 0px 2px black;
  border-radius: 20px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(180, 180, 180, 0.3);
  text-align: left;
  color: white;
}
.animated {
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
#help-text.expanded {
  opacity: 1;
  visibility: visible;
}
#help-text.right {
  left: -80%;
  opacity: 0;
}
#help-text.left {
  left: 80%;
  opacity: 0;
}
#help-text h1 {
  line-height: 1;
  margin: 0 0;
}
#help-nav {
  display: table-cell;
  padding-left: 30px;
}
.help-toolbar {
  text-align: right;
  padding-top: 5px;
}
.icon-tap {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tap.pull-left {
  margin-right: .3em;
}
.icon-tap.pull-right {
  margin-left: .3em;
}
.icon-tap:before {
  content: "\f0a6";
}
.icon-menu {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu.pull-left {
  margin-right: .3em;
}
.icon-menu.pull-right {
  margin-left: .3em;
}
.icon-menu:before {
  content: "\f0c9";
}
.icon-drag {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-drag.pull-left {
  margin-right: .3em;
}
.icon-drag.pull-right {
  margin-left: .3em;
}
.icon-drag:before {
  content: "\f047";
}
.icon-vector {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-vector.pull-left {
  margin-right: .3em;
}
.icon-vector.pull-right {
  margin-left: .3em;
}
.icon-vector:before {
  content: "\f061";
  transform: rotate(45deg);
}
.icon-star {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-star.pull-left {
  margin-right: .3em;
}
.icon-star.pull-right {
  margin-left: .3em;
}
.icon-star:before {
  content: "\f10c";
  background: radial-gradient(ellipse at center, #ffff88 0%, rgba(255, 255, 136, 0) 90%);
}
.icon-win {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-win.pull-left {
  margin-right: .3em;
}
.icon-win.pull-right {
  margin-left: .3em;
}
.icon-win:before {
  content: "\f091";
}
.separator {
  height: 1px;
  background: linear-gradient(to right, #bababa 0%, #bababa 40%, rgba(186, 186, 186, 0) 80%);
  margin-top: 5px;
  margin-bottom: 5px;
}
#text-top {
  width: 40%;
  left: 30%;
  position: absolute;
  text-align: center;
  margin-top: -50px;
  opacity: 0;
  visible: hidden;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.title {
  font-size: 50px;
  color: white;
  -webkit-filter: drop-shadow(1px 1px 1px #000000);
  -moz-filter: drop-shadow(1px 1px 1px #000000);
  -ms-filter: drop-shadow(1px 1px 1px #000000);
  filter: drop-shadow(1px 1px 1px #000000);
}
.subtitle {
  font-size: 25px;
  color: silver;
  -webkit-filter: drop-shadow(1px 1px 4px #000000);
  -moz-filter: drop-shadow(1px 1px 4px #000000);
  -ms-filter: drop-shadow(1px 1px 4px #000000);
  filter: drop-shadow(1px 1px 4px #000000);
}
#text-top.expanded {
  opacity: 1;
  visible: visible;
  margin-top: 40px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
