body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  color: white;
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.clear {
  clear: both;
}
#canvas-container {
  background-color: black;
}
#sidebar {
  width: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#sidebar.expanded {
  width: 200px;
  background-color: rgba(180, 180, 180, 0.25);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.btn-jrs {
  border: 0px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-box-shadow: 1 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 1 1px 4px rgba(0, 0, 0, 0.5);
  background: white;
}
.btn-jrs:hover {
  background-color: #ecf0f1;
}
.btn-jrs-ico {
  font-size: 30px;
  padding: 12px;
  color: white;
  text-align: center;
  background-color: black;
  cursor: pointer;
}
.btn-jrs-ico:hover {
  background-color: white;
  color: black;
}
.sidebar-section {
  opacity: 0;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
#sidebar.expanded .sidebar-section {
  opacity: 1;
  border-bottom: 1px solid white;
  color: white;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#missions {
  text-align: center;
}
#missions {
  margin-bottom: 10px;
}
.mission {
  margin-bottom: 15px;
  color: #7f8c8d;
}
.mission-active {
  margin-bottom: 15px;
  color: #7f8c8d;
  color: #e74c3c;
}
.mission-completed {
  margin-bottom: 15px;
  color: #7f8c8d;
  color: #ecf0f1;
}
.mission-symbol {
  float: left;
  margin-left: 10px;
  font-size: 40px;
}
.mission .mission-symbol {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mission .mission-symbol.pull-left {
  margin-right: .3em;
}
.mission .mission-symbol.pull-right {
  margin-left: .3em;
}
.mission .mission-symbol:before {
  content: "\f10c";
}
.mission-active .mission-symbol {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  font-size: 35px;
}
.mission-active .mission-symbol.pull-left {
  margin-right: .3em;
}
.mission-active .mission-symbol.pull-right {
  margin-left: .3em;
}
.mission-active .mission-symbol:before {
  content: "\f1ce";
}
.mission-completed .mission-symbol {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mission-completed .mission-symbol.pull-left {
  margin-right: .3em;
}
.mission-completed .mission-symbol.pull-right {
  margin-left: .3em;
}
.mission-completed .mission-symbol:before {
  content: "\f058";
}
#sidebar.expanded .mission-symbol {
  float: left;
}
.mission-label {
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  width: 0px;
  font-size: 0px;
  margin-left: -100px;
}
#sidebar.expanded .mission-label {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  float: left;
  visibility: visible;
  opacity: 1;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 200;
}
.mission-active .mission-label {
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  width: 0px;
  font-size: 0px;
  margin-left: -100px;
}
.mission-description {
  text-align: left;
  visibility: hidden;
  font-size: 12px;
  height: 0px;
}
#sidebar.expanded .mission-description {
  margin-top: 10px;
  visibility: visible;
  width: auto;
  height: auto;
  padding: 5px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-left: 4px solid #e74c3c;
}
/* Info-top styles */
#info-top {
  width: 200px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  font-weight: 200;
}
#info-table-container {
  background: rgba(180, 180, 180, 0.25);
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  color: white;
}
#info-top table {
  width: 100%;
}
#info-help {
  padding: 10px;
}
td.td-label {
  border-bottom: 1px solid white;
  cellmargin-left: 5px;
  text-transform: uppercase;
}
td.td-val {
  border-bottom: 1px solid white;
  text-align: right;
}
#help {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
#help-bottom {
  background: none;
  width: 60%;
  left: 20%;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  color: black;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  opacity: 0;
  text-align: center;
}
#help-bottom.expanded {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#help-bottom .btn-help {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#help-bottom.expanded .btn-help {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#help-text {
  border-radius: 20px;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: rgba(180, 180, 180, 0.25);
  display: inline-block;
  color: white;
}
.icon-tap {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tap.pull-left {
  margin-right: .3em;
}
.icon-tap.pull-right {
  margin-left: .3em;
}
.icon-tap:before {
  content: "\f0a6";
}
.icon-drag {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-drag.pull-left {
  margin-right: .3em;
}
.icon-drag.pull-right {
  margin-left: .3em;
}
.icon-drag:before {
  content: "\f047";
}
.icon-vector {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-vector.pull-left {
  margin-right: .3em;
}
.icon-vector.pull-right {
  margin-left: .3em;
}
.icon-vector:before {
  content: "\f061";
  transform: rotate(45deg);
}
.icon-star {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-star.pull-left {
  margin-right: .3em;
}
.icon-star.pull-right {
  margin-left: .3em;
}
.icon-star:before {
  content: "\f10c";
  background: radial-gradient(ellipse at center, #ffff88 0%, rgba(255, 255, 136, 0) 90%);
}
.separator {
  height: 1px;
  background: linear-gradient(to right, rgba(186, 186, 186, 0) 0%, #bababa 20%, #bababa 50%, #bababa 80%, rgba(186, 186, 186, 0) 100%);
  margin: 5px;
}
