@color-glass: rgba(140, 140, 140, 0.4);
@color-glass-dark: rgba(140, 140, 140, 0.2);
@color-glass-dark-opaque: rgba(80, 80, 80, 1);

@font: "Dosis";
@font-para: "proxima-nova", 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@color-accent: rgb(102, 204, 255);
@color-accent-dark: rgb(49, 93, 115);
@color-force: rgba(214, 197, 0, 1);

@font-XL: 60px;
@font-xl: 50px;
@font-L: 40px;
@font-l: 35px;
@font-M: 30px;
@font-m: 22px;
@font-s: 14px;

.font-s {
  font-size: @font-s;
}

.font-l {
  font-size: @font-l;
}

.font-M {
  font-size: @font-M;
}

.font-L {
  font-size: @font-L;
}

.separator {
  height:1px;
  background: linear-gradient(to right, rgba(186,186,186,1) 0%,rgba(186,186,186,1) 40%,rgba(186,186,186,0) 80%);
  margin-top:5px;
  margin-bottom:5px;
}

.separator-center {
  height:1px;
  background: linear-gradient(to right, rgba(186,186,186,0) 0%,rgba(186,186,186,1) 30%,rgba(186,186,186,1) 70%, rgba(186,186,186,0) 100%);
  margin-top:5px;
  margin-bottom:5px;  
}

.center {
  text-align:center;
}
