<?xml version='1.0' encoding='utf-8'?>
<widget id="com.savepoint.kiosk" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kiosk</name>
    <description>
    </description>
    <author email="stefano@astro.as.utexas.edu" href="http://stefanom.org">
        Stefano Meschiari
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
